/* ZMK_UNICODE */

#if !defined OS_UNICODE_LEAD
    #if HOST_OS == 2
        #define OS_UNICODE_LEAD &macro_press &kp LALT      // macOS/Windows-Alt-Codes
    #elif HOST_OS == 1
        #define OS_UNICODE_LEAD &macro_tap &kp LS(LC(U))   // Linux
    #else
        #define OS_UNICODE_LEAD &macro_tap &kp RALT &kp U  // Windows + WinCompose (default)
    #endif
#endif
#if !defined OS_UNICODE_TRAIL
    #if HOST_OS == 2
        #define OS_UNICODE_TRAIL &macro_release &kp LALT  // macOS/Windows-Alt-Codes
    #elif HOST_OS == 1
        #define OS_UNICODE_TRAIL &macro_tap &kp SPACE     // Linux
    #else
        #define OS_UNICODE_TRAIL &macro_tap &kp RET       // Windows + WinCompose (default)
    #endif
#endif

#define UC_MACRO(name, unicode_bindings) \
    / { \
        macros { \
            name: name { \
                compatible = "zmk,behavior-macro"; \
                wait-ms = <0>; \
                tap-ms = <0>; \
                #binding-cells = <0>; \
                bindings = <OS_UNICODE_LEAD>, <&macro_tap unicode_bindings>, <OS_UNICODE_TRAIL>; \
            }; \
        }; \
    };

#define UC_MODMORPH(name, uc_binding, shifted_uc_binding) \
    / { \
        behaviors { \
            name: name { \
                compatible = "zmk,behavior-mod-morph"; \
                #binding-cells = <0>; \
                bindings = <uc_binding>, <shifted_uc_binding>; \
                mods = <(MOD_LSFT|MOD_RSFT)>; \
            }; \
        }; \
    };

#define ZMK_UNICODE_SINGLE(name, L0, L1, L2, L3) \
    UC_MACRO(name ## _lower, &kp L0 &kp L1 &kp L2 &kp L3) \
    UC_MODMORPH(name, &name ## _lower, &none)

#define ZMK_UNICODE_PAIR(name, L0, L1, L2, L3, U0, U1, U2, U3) \
    UC_MACRO(name ## _lower, &kp L0 &kp L1 &kp L2 &kp L3) \
    UC_MACRO(name ## _upper, &kp U0 &kp U1 &kp U2 &kp U3) \
    UC_MODMORPH(name, &name ## _lower, &name ## _upper)

/************* currencies *************/
ZMK_UNICODE_PAIR(crncy_eur,         N2, N0,  A,  C,   N0, N0,  A, N2)   // €/¢
ZMK_UNICODE_PAIR(crncy_pound,       N0, N0,  A, N3,   N2, N0,  A,  C)   // €

/************* symbols *************/
ZMK_UNICODE_PAIR(sy_parg,           N0, N0,  B, N6,   N0, N0,  A, N7)   // ¶/§
ZMK_UNICODE_PAIR(sy_zero,           N0, N0,  F, N8,   N0, N0,  D, N8)   // ø/Ø
ZMK_UNICODE_PAIR(sy_mul,            N0, N0,  D, N7,   N0, N0,  F, N7)   // ×/÷

/************* french *************/
ZMK_UNICODE_PAIR(fr_ae,             N0, N0,  E, N6,   N0, N0,  C, N6)   // æ/Æ
ZMK_UNICODE_PAIR(fr_oe,             N0, N1, N5, N3,   N0, N1, N5, N2)   // œ/Œ
ZMK_UNICODE_PAIR(fr_a_grave,        N0, N0,  E, N0,   N0, N0,  C, N0)   // à/À
ZMK_UNICODE_PAIR(fr_a_circ,         N0, N0,  E, N2,   N0, N0,  C, N2)   // â/Â
ZMK_UNICODE_PAIR(fr_a_dia,          N0, N0,  E, N4,   N0, N0,  C, N4)   // ä/Ä
ZMK_UNICODE_PAIR(fr_c_ced,          N0, N0,  E, N7,   N0, N0,  C, N7)   // ç/Ç
ZMK_UNICODE_PAIR(fr_e_grave,        N0, N0,  E, N8,   N0, N0,  C, N8)   // è/È
ZMK_UNICODE_PAIR(fr_e_acute,        N0, N0,  E, N9,   N0, N0,  C, N9)   // é/É
ZMK_UNICODE_PAIR(fr_e_circ,         N0, N0,  E, A,    N0, N0,  C, A)    // ê/Ê
ZMK_UNICODE_PAIR(fr_e_dia,          N0, N0,  E, B,    N0, N0,  C, B)    // ë/Ë
ZMK_UNICODE_PAIR(fr_i_circ,         N0, N0,  E, E,    N0, N0,  C, E)    // î/Î
ZMK_UNICODE_PAIR(fr_i_dia,          N0, N0,  E, F,    N0, N0,  C, F)    // ï/Ï
ZMK_UNICODE_PAIR(fr_o_circ,         N0, N0,  F, N4,   N0, N0,  D, N4)   // ô/Ô
ZMK_UNICODE_PAIR(fr_o_dia,          N0, N0,  F, N6,   N0, N0,  D, N6)   // ö/Ö
ZMK_UNICODE_PAIR(fr_u_grave,        N0, N0,  F, N9,   N0, N0,  D, N9)   // ù/Ù
ZMK_UNICODE_PAIR(fr_u_circ,         N0, N0,  F, B,    N0, N0,  D, B)    // û/Û
ZMK_UNICODE_PAIR(fr_u_dia,          N0, N0,  F, C,    N0, N0,  D, C)    // ü/Ü
ZMK_UNICODE_PAIR(fr_y_dia,          N0, N0,  F, F,    N0, N1, N7, N8)   // ÿ/Ÿ

/************* greek *************/
ZMK_UNICODE_PAIR(gr_mu,             N0, N3,  B,  C,   N0, N3,  9,  C)   // μ/Μ

/************* deutch *************/
ZMK_UNICODE_PAIR(de_eszett,         N0, N0,  D,  F,   N1, E, N9,  E)   // ß/ẞ
