/*
*  zmk keymap for 3x5 / 36 keys
*  
* Vincent Pfister
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define CLMK 0
#define CLAC 1
#define QWRT 2
#define QWAC 3
#define SYM 4
#define NUM 5
#define NAV 6
#define FUN 7


/ {
    chosen {
        // zmk,matrix_transform = &default_transform;
        zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            display-name = "CLMK";
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   Q   |   W   |   F   |   P   |   B   |     |   J   |   L   |   U   |   Y   |   '   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   A   |   R   |   S   |   T   |   G   |     |   M   |   N   |   E   |   I   |   O   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   Z   |   X   |   C   |   D   |   V   |     |   K   |   H   |   ,   |   .   |  /fun |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
//                 |  /nav |  /sym |  SPC  |     |  RET  |  /num |  CTL  |
//                 |       |       |       |     |       |       |       |                 
//                 |-------|-------|-------|     |-------|-------|-------|                
            bindings = <
&kp Q       &kp W       &kp F           &kp P           &kp B               &kp J           &kp L           &kp U           &kp Y       &kp SQT  
&kp A       &kp R       &kp S           &kp T           &kp G               &kp M           &kp N           &kp E           &kp I       &kp O 
&kp Z       &kp X       &kp C           &kp D           &kp V               &kp K           &kp H           &kp COMMA       &kp DOT     &sl FUN
                        &mo NAV         &mo SYM         &kp SPACE           &kp RET         &mo NUM         &sk LCTL    
            >;
        };

        colemak_accents_layer {
            display-name = "CLAC";
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |       |   ë   |       |       |     |       |   "   |   ü   |   ï   |   ö   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   à   |   ê   |   é   |   è   |       |     |       |   ^   |   û   |   î   |   ô   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   â   |       |   ç   |       |       |     |       |   `   |       |       |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
//                 |       |       |       |     |       |       |       |
//                 |       |       |       |     |       |       |       |                 
//                 |-------|-------|-------|     |-------|-------|-------|                
            bindings = <
&trans      &trans      &kp E           &trans          &trans              &trans          &kp DQT         &kp U           &kp I       &kp O    
&kp A       &kp E       &kp E           &kp E           &trans              &trans          &kp CARET       &kp U           &kp I       &kp O 
&kp A       &trans      &kp C           &trans          &trans              &trans          &kp GRAVE       &trans          &trans      &none 
                        &trans          &trans          &trans              &trans          &trans          &trans      
            >;
        };

        qwerty_layer {
            display-name = "QWRT";
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   Q   |   W   |   E   |   R   |   T   |     |   y   |   U   |   I   |   O   |   P   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   A   |   S   |   D   |   F   |   G   |     |   H   |   J   |   K   |   L   |   ;   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   Z   |   X   |   C   |   V   |   B   |     |   N   |   M   |   ,   |   .   |  >NAV |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
//                 |  TAB  |  ESC  |  SPC  |     |  BKSP |  ENT  |  DEL  |
//                 |  gui  |  ctrl | /sym  |     | /num  | shift |  alt  |                 
//                 |-------|-------|-------|     |-------|-------|-------|                
            bindings = <
&kp Q       &kp W       &kp E           &kp R           &kp T               &kp Y           &kp U           &kp I           &kp O       &kp P    
&kp A       &kp S       &kp D           &kp F           &kp G               &kp H           &kp J           &kp K           &kp L       &kp SEMI 
&kp Z       &kp X       &kp C           &kp V           &kp B               &kp N           &kp M           &kp COMMA       &kp DOT     &to NAV
                        &mt LGUI TAB    &mt LCTRL ESC   &lt SYM SPACE       &lt NUM BSPC    &mt RSHFT RET   &mt RALT DEL
            >;
        };

        qwerty_accents_layer {
            display-name = "QWAC";
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |       |   ë   |       |       |     |       |   ü   |   ï   |   ö   |   "   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   à   |   ê   |   é   |   è   |       |     |       |   û   |   î   |   ô   |   ^   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   â   |       |   ç   |       |       |     |       |       |       |       |   `   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
//                 |       |       |       |     |       |       |       |
//                 |       |       |       |     |       |       |       |                 
//                 |-------|-------|-------|     |-------|-------|-------|                
            bindings = <
&trans      &trans      &kp E       &trans      &trans      &trans      &kp U           &kp I       &kp O       &kp DQT             
&kp A       &kp E       &kp E       &kp E       &trans      &trans      &kp U           &kp I       &kp O       &kp CARET           
&kp A       &trans      &kp C       &trans      &trans      &trans      &trans          &trans      &trans      &kp GRAVE           
                        &trans      &trans      &trans      &trans      &trans          &trans                      
            >;
        };

        symbol_layer {
            display-name = "SYM";
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |   \   |   %   |   $   |       |     |       |   ^   |   {   |   }   |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   *   |   (   |   )   |   :   |  TAB  |     |  DEL  |   "   |   [   |   ]   |   ;   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |   `   |   @   |   &   |       |     |       |   #   |   <   |   >   |  >fun |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
//                 |       |  \/   |       |     |  SHFT |  ESC  |  ALT  |
//                 |       |  /\   |       |     |       |       |       |                 
//                 |-------|-------|-------|     |-------|-------|-------|              r 
            bindings = <
&none       &kp BSLH    &kp PRCNT       &kp DOLLAR      &none               &none           &kp CARET       &kp LEFT_BRACE      &kp RIGHT_BRACE     &none
&kp STAR    &kp LPAR    &kp RPAR        &kp COLON       &kp TAB             &kp DEL         &kp DQT         &kp LEFT_BRACKET    &kp RIGHT_BRACKET   &kp SEMICOLON 
&none       &kp GRAVE   &kp AT          &kp AMPERSAND   &none               &none           &kp HASH        &kp LESS_THAN       &kp GREATER_THAN    &to FUN
                        &none           &trans          &none               &sk LSHFT       &kp ESC         &sk LALT
            >;
        };

        num_layer {
            display-name = "NUM";
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |   4   |   5   |   6   |       |     |       |   |   |   -   |   /   |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   0   |   1   |   2   |   3   |  BSPC |     |  CAPS |   '   |   _   |   =   |   *   |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |   ~   |   7   |   8   |   9   |   .   |     |       |   +   |   ?   |   !   |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
//                 | >nav  |  GUI  |  SPC  |     |       |  \/   |       |
//                 |       |       |       |     |       |  /\   |       |                 
//                 |-------|-------|-------|     |-------|-------|-------|                
            bindings = <
&none       &kp N4      &kp N5          &kp N6          &none               &none           &kp PIPE        &kp MINUS       &kp SLASH   &none    
&kp N0      &kp N1      &kp N2          &kp N3          &kp BKSP            &kp CAPS        &kp APOS        &kp UNDERSCORE  &kp EQUAL   &kp STAR
&kp TILDE   &kp N7      &kp N8          &kp N9          &kp PERIOD          &none           &kp PLUS        &kp QUESTION    &kp EXCL    &none    
                        &to NAV         &sk LGUI        &kp SPACE           &none           &trans          &none       
            >;
        };

        nav_layer {
            display-name = "NAV";
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |       |       |       |       |     | HOME  |  PGDN | PGUP  |  END  |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |       |       |       |  TAB  |     |   ←   |   ↓   |   ↑   |   →   |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |       |       |       |       |     | prvw  | nxtw  | prvt  | nxtt  | /fun  |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
//                 | /clmk |  GUI  |  SHFT |     |  SHFT |  CTL  |  ALT  |
//                 |       |       |       |     |       |       |       |                 
//                 |-------|-------|-------|     |-------|-------|-------|                
            bindings = <
&none       &none       &none           &none           &none               &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         &none      
&none       &none       &none           &none           &kp TAB             &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &none   
&none       &none       &none           &none           &none               &kp LA(LS(TAB)) &kp LA(TAB)     &kp LC(LS(TAB)) &kp LC(TAB)     &mo FUN   
                        &to CLMK        &kp LGUI        &kp LSHFT           &kp LSHFT       &kp LCTL        &kp LALT    
            >;
        };

        fun_layer {
            display-name = "FUN";
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |   F4  |   F5  |   F6  |  F10  |     |  BT0  | BTNXT | OUTTG |       |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |   F1  |   F2  |   F3  |  F11  |     |  BT1  | BTPRV |       |       |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
// |       |   F7  |   F8  |   F9  |  F12  |     |  BT2  | BTCLR |       |       |       |
// |       |       |       |       |       |     |       |       |       |       |       |
// |-------|-------|-------|-------|-------|     |-------|-------|-------|-------|-------|
//                 | /clmk |       |  GUI  |     |  CTL  |  SHFT |  ALT  |
//                 |       |       |       |     |       |       |       |                 
//                 |-------|-------|-------|     |-------|-------|-------|                
            bindings = <
&none       &kp F4      &kp F5          &kp F6          &kp F10             &bt BT_SEL 0    &bt BT_NXT      &out OUT_TOG    &none           &none      
&none       &kp F1      &kp F2          &kp F3          &kp F11             &bt BT_SEL 1    &bt BT_PRV      &none           &none           &none   
&none       &kp F7      &kp F8          &kp F9          &kp F12             &bt BT_SEL 2    &bt BT_CLR      &none           &none           &none     
                        &to CLMK        &none           &kp LGUI            &kp LCTL        &kp LSHFT       &kp LALT    
            >;
        };

    };
};
